section{
    height: 400px;
    width: 400px;
    border: 2px solid lightseagreen;
    border-radius:  10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
div{
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
}